@model Tasalia.Intranet.DataBase.Models.Appraisal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Eliminar</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">¿Estás seguro de eliminar este elemento?</h3>
                        </div>

                        <div class="card-body">
                            <h4>Appraisal</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ProcessGuid)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ProcessGuid)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Number)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Number)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Supplement)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Supplement)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreateDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.UpdateDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.UpdateDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Deputation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Deputation.DeputationId)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Property)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Property.PropertyId)
                                </dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="AppraisalId" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>

                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>