@model IEnumerable<Tasalia.Intranet.DataBase.Models.Property>

@section Scripts{
    <script>
        $(function () {
            $('#propertiesTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
}

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Listado</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Propiedad</a></li>
                        <li class="breadcrumb-item active">Lista</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Propiedades</h3>
                            <div class="card-tools">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                @*<button type="button" class="btn btn-block bg-gradient-info">Crear nuevo</button>*@
                                <a asp-action="Create">Crear nuevo registro</a>
                            </div>
                        </div>
                        <div class="card-body">

                            <table class="table" id="propertiesTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProcessGuid)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ExternalId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Year)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreateDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdateDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Latitude)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Longitude)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.City)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FileType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PostalZone)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProcessGuid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExternalId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Year)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreateDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpdateDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Latitude)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Longitude)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City.CityId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FileType.FileTypeId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PostalZone.PostalZoneId)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.PropertyId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.PropertyId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <h3></h3>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
</div>

